/* header.css */

/* Ghi chú: File này phụ thuộc vào các biến màu ở :root của file chung */

.top-header {
  height: 70px;
  background-color: white;
  border-bottom: 1px solid var(--np-border);
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* ĐỊNH VỊ CỐ ĐỊNH */
  position: fixed;
  top: 0;
  right: 0;
  left: 260px;
  /* Bắt đầu từ sau Sidebar */
  z-index: 999;
  transition: all 0.3s ease;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.brand-text {
  font-weight: 800;
  letter-spacing: 0.5px;
  font-size: 16px;
  color: #1a2b4c;
}

.search-bar {
  background-color: #f1f3f4;
  border: none;
  border-radius: 8px;
  padding: 10px 16px;
  width: 320px;
  font-size: 14px;
  color: var(--np-text-dark);
  outline: none;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header-links a {
  color: var(--np-text-muted);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  padding-bottom: 23px;
  border-bottom: 3px solid transparent;
}

.header-links a:hover {
  color: var(--np-text-dark);
}

.header-links a.active {
  color: var(--np-blue);
  border-bottom-color: var(--np-blue);
}